<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/cr-1.5.0/fh-3.1.4/kt-2.4.0/rr-1.2.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-html5-1.5.2/cr-1.5.0/fh-3.1.4/kt-2.4.0/rr-1.2.4/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('table.display').DataTable( {
                colReorder: true,
                rowReorder: true,
                fixedHeader: true,
                keys: true,
                paging: true,
                dom: 'Bfrtip',
                buttons: ['copy', 'csvHtml5', 'excelHtml5', 'pdfHtml5', 'colvis']
            } );
        } );
    </script>
    <head></head>
    <body>
        <div>
            <span style="padding: 5px 10px 5px 10px;">
            {{ main_table|safe }}
            </span>
        </div>
        <div>
            <span style="padding: 5px 10px 5px 10px;">
            {{ parts_table|safe }}
            </span>
        </div>
    </body>
</html>